$primary-color: #486958;
$secondary-color: #404242;
$accent-color: #58A9A5;
$title-color: #1C2323;
$accent-element: #CCF0E6;

// $breakpoint-xxl: 1399px;
// $breakpoint-xl: 1199px;
// $breakpoint-lg: 991px;
// $breakpoint-md: 767px;
// $breakpoint-md-additional: 600px;
// $breakpoint-sm: 575px;
// $breakpoint-xs: 375px;
