.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 25px 88px;

    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 1.2;
    color: #fff;
    font-weight: 400;
    letter-spacing: normal;
    cursor: pointer;

    background-color: $accent-color;
    border: 0;

    transition: background-color .2s ease-in;

    &:hover {
        background-color: darken($accent-color, 10%);
    }

    &--second {
        border-radius: 15px;
    }

    &--primary {
        border-radius: 20px 20px 20px 0px;
    }
}